div{
    background-image: url("slider-bg.jpg");
    background-repeat: no-repeat;
    height: 700px; width: 1100px;
    color: white;
    padding: 150px 50px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}
.it{
    width: 530px;
}
h1{
   padding-right: 500px;
}